/* CSS files add styling rules to your content */

/*Styling the general body*/
body {
  font-family: helvetica, arial, sans-serif;
  text-align: center; 
  margin: 2em;
  background-color: paleturquoise; 
}

/*Styling the title of the game*/
h1 {
  font_family: verdana, arial, sans_serif;
  color: black;
}

/*Styling the description*/
p{
  color: grey; 
}

/*Styling the general button parent class*/ 
button{
  background-color: blue; 
  color: white;
  padding: 10px; 
  border-radius: 10px; 
}


/*Styleing the game buttons*/

  /*General game button area*/
#gameButtonArea > button{
  width: 200px; 
  height: 200px; 
  margin:10px; 
}

  /*Specific buttons*/
#button1{
  background-color: palegreen;
}
#button1:active{
  background-color: green; 
}

#button2{
  background-color: pink;
}
#button2:active{
  background-color: darkred; 
}

#button3{
  background-color: lightblue;
}
#button3:active{
  background-color: darkblue; 
}

#button4{
  background-color: lightyellow;
}
#button4:active{
  background-color: olive; 
}
