/* CSS files add styling rules to your content */

/*Styling the general body*/
body {
  font-family: helvetica, arial, sans-serif;
  text-align: center; 
  margin: 2em;
  background-color: paleturquoise; 
}

/*Styling the title of the game*/
h1 {
  font_family: verdana, arial, sans_serif;
  color: black;
}

/*Styling the description*/
p{
  color: grey; 
}

/*Styling the general button parent class*/ 
button{
  background-color: blue; 
  color: white;
  padding: 10px; 
  border-radius: 15px; 
}
.hidden {
  display: none;
}


/*Styleing the game buttons*/

  /*Styling the difficulty buttons*/
#difficultyChoice > button{
  margin:10px
}
#easyBtn{
  background-color: greenyellow; 
}
#easyBtn.lit{
  background-color: darkgreen; 
}
#mediumBtn{
  background-color: gold; 
}
#mediumBtn.lit{
  background-color: sienna; 
}
#hardBtn{
  background-color: orangered; 
}
#hardBtn.lit{
  background-color: maroon; 
}

  /*General game button area*/
#gameButtonArea > button{
  width: 200px; 
  height: 200px; 
  margin:10px; 
}

  /*Specific buttons*/
#button1{
  background-color: palegreen;
}
#button1:active, #button1.lit{
  background-color: green; 
}

#button2{
  background-color: pink;
}
#button2:active, #button2.lit{
  background-color: darkred; 
}

#button3{
  background-color: lightblue;
}
#button3:active, #button3.lit{
  background-color: darkblue; 
}

#button4{
  background-color: lightyellow;
}
#button4:active, #button4.lit{
  background-color: olive; 
}
