/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  text-align: center; 
  margin: 2em;
  background-color: lightblue; 
}

h1 {
  font_family: verdana, arial, sans_serif;
  color: black;
}
p{
  color: grey; 
}
button{
  background-color: blue; 
  color: white;
  padding: 10px; 
  border-radius: 10px; 
}
